<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutoLotEntities" connectionString="metadata=res://*/AutoLogContent.csdl|res://*/AutoLogContent.ssdl|res://*/AutoLogContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AutoLot;persist security info=True;user id=sa;password=!chen62221235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoLotEntities1" connectionString="metadata=res://*/AutoLogContent.csdl|res://*/AutoLogContent.ssdl|res://*/AutoLogContent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AutoLot;persist security info=True;user id=sa;password=!chen62221235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>